body{
    background-color: #E5E5E5;
}
.aboutSec{
    margin-top: 200px;
}
.textImgWrap{
    display: flex;
    align-items: center;
    justify-content: center;
	flex-direction: column;
}
.textImgWrap h2{
	font-size: 20px;
	font-family: 'Pretendard-Bold';
    color: #EE5046;
	margin: 50px 0 20px 0;
}
.textImgWrap h3{
	font-size: 16px;
	line-height: 24px;
	font-family: 'Pretendard-Regulr';
    color: #EE5046;
}
.textImg{
    width: 490px;
}
.slideBanner{
    margin-top: 100px;
}

.simply-scroll-container { 
	position: relative;
}

.simply-scroll-clip { 
	position: relative;
	overflow: hidden;
}

.simply-scroll-list { 
	overflow: hidden;
	margin: 0;
	padding: 0;
	list-style: none;
}
	
.simply-scroll-list li {
	padding: 0;
	margin: 0;
	list-style: none;
}
	
.simply-scroll-list li img {
	border: none;
	display: block;
}

/* Container DIV */
.simply-scroll { 
	/* width: 576px;
	height: 200px;
	margin-bottom: 1em; */
}

/* Clip DIV */
.simply-scroll .simply-scroll-clip {
	/* width: 576px;
	height: 200px; */
}
	
/* Explicitly set height/width of each list item */	
.simply-scroll .simply-scroll-list li {
	float: left; /* Horizontal scroll only */
	/* width: 290px;
	height: 200px; */
}